<!DOCTYPE HTML>
{% load staticfiles %}

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
            .write-ups{
                transform: scale(1.05);
                color: white;
                background-color: rgba(7, 7, 59, 0.897);
                transition: 0.5s ease-in;
                box-shadow:2px 8px 3px black;
                width:70%; 
                border:1px solid rgb(29, 26, 26);
                padding:10px;
                transition: 0.3s linear;
                justify-content: center;
                margin-left: 150px;
                margin-bottom:90px;
                cursor: crosshair; 
            }
            .write-ups:hover{
                transform: scale(1.09);
                transition-delay: 0.2s;
               
                box-shadow: 2px 10px 7px black;
    
            }
        </style>
    
<script>

/*Market Analysis Main graph function*/
window.onload = function () {
/*North Indian Cuisine function*/
var chart1 = new CanvasJS.Chart("north", {
    animationEnabled: true,
    theme: "light2",
    title:{
        text: "North Indian Cuisine"
    },
    axisY:{
        title: "Ratings",
        includeZero: false
    },
    axisX:{
        title: "Venue"
    },
    data: [{
        type: "line",
        color: "#6B8E23",
        dataPoints: [
{ y: 3.9, label: "Jahanpanah" },
{ y: 4.2, label: "Pinch Of Spice" },
{ y: 4.0, label: "Momo Cafe" },
{ y: 4.3, label: "Peshwari - ITC Mughal" },
{ y: 3.8, label: "Dawat-e-Nawab-Radisson Blu" },
{ y: 3.9, label: "The Latitude-Radisson Blu" },
{ y: 3.4, label: "The Charcoal Chimney" },
{ y: 4.9, label: "sheroes Hangout" },
{ y: 3.8, label: "Bon Barbecue" },
{ y: 3.9, label: "Chapter 1 Cafe" },
{ y: 3.7, label: "Pind Balluchi" },
{ y: 4.2, label: "Tea’se Me-Rooftop Tea Boutique" }
]
    }]
});
/*chinese graph function*/
var chart2 = new CanvasJS.Chart("chinese", {
    animationEnabled: true,
    theme: "light2",
    title:{
        text: "Chinese Cuisine"
    },
    axisY:{
        title: "Ratings",
        includeZero: false
    },
    axisX:{
        title: "Venue"
    },
    data: [{
        type: "line",
        color: "#BA55D3",
        dataPoints: [
{ y: 4.2, label: "Pinch Of Spice" },
{ y: 3.9, label: "The Latitude - Radisson Blu" },
{ y: 3.4, label: "The Charcoal Chimney" },
{ y: 4.9, label: "Sheroes Hangout" },
{ y: 3.8, label: "Bon Barbecue" },
{ y: 4.2, label: "Tea’se Me- Rooftop Tea Boutique" }
]
    }]
});

/*continental graph function*/

var chart3 = new CanvasJS.Chart("continental", {
    animationEnabled: true,
    theme: "light2",
    title:{
        text: "Continental Cuisine"
    },
    axisY:{
        title: "Ratings",
        includeZero: false
    },
    axisX:{
        title: "Venue"
    },
    data: [{
        type: "line",
        color: "#008B8B",
        dataPoints: [
{ y: 3.9, label: "The Latitude - Radisson Blu" },
{ y: 3.4, label: "The Charcoal Chimney" },
{ y: 3.8, label: "Bon Barbecue" },
{ y: 3.9, label: "Chapter 1 Cafe" },
{ y: 4.2, label: "Tea’se Me - Rooftop Tea Boutique" }
]
    }]
});

/*italian graph function*/

var chart4 = new CanvasJS.Chart("italian", {
    animationEnabled: true,
    theme: "light2",
    title:{
        text: "Italian Cuisine"
    },
    axisY:{
        title: "Ratings",
        includeZero: false
    },
    axisX:{
        title: "Venue"
    },
    data: [{
        type: "line",
        color: "#FF1493",
        dataPoints: [
{ y: 3.9, label: "Chapter ! Cafe" },
{ y: 4.4, label: "Pizza Hut" },
{ y: 4.2, label: "Tea’se Me - Rooftop Tea Boutique" }
]
      }]
    });


/*mughlai graph function*/

var chart5 = new CanvasJS.Chart("mughlai", {
    animationEnabled: true,
    theme: "light2",
    title:{
        text: "Mughlai Cuisine"
    },
    axisY:{
        title: "Ratings",
        includeZero: false
    },
    axisX:{
        title: "Venue"
    },
    data: [{
        type: "line",
        color: "#483D8B",
        dataPoints: [
{ y: 3.9, label: "Jahanpanah" },
{ y: 3.5, label: "Rangrezz Restaurant" },
{ y: 4.2, label: "Pinch Of Spice" },
{ y: 4.3, label: "Peshwri - ITC Mughal" },
{ y: 4.0, label: "Taj Bano - ITC Mughal" },
{ y: 3.6, label: "G Thal" },
{ y: 3.8, label: "Dawat-E-Nawab- Radisson Blu" },
{ y: 3.4, label: "The Charcoal Chimney" },
{ y: 3.7, label: "Pind Balluchi" }
]
      }]
    });


/*cafe graph function*/

var chart6 = new CanvasJS.Chart("cafe", {
    animationEnabled: true,
    theme: "light2",
    title:{
        text: "Cafe"
    },
    axisY:{
        title: "Ratings",
        includeZero: false
    },
    axisX:{
        title: "Venue"
    },
    data: [{
        type: "line",
        color: "#6B8E23",
        dataPoints: [
{ y: 4.9, label: "Sheroes Hangout" },
{ y: 3.9, label: "Chapter 1 Cafe" }
]
      }]
    });



/*Rajasthani graph function*/

var chart7 = new CanvasJS.Chart("rajasthani", {
    animationEnabled: true,
    theme: "light2",
    title:{
        text: "Rajasthani Cuisine"
    },
    axisY:{
        title: "Ratings",
        includeZero: false
    },
    axisX:{
        title: "Venue"
    },
    data: [{
        type: "line",
        color: "#BA55D3",
        dataPoints: [
{ y: 4.00, label: "Chokho Jeeman Marwari Jain Bhojanalya" },
{ y: 3.60, label: "G Thal" }
]
      }]
    });

/*Average Cost Function*/
var chart8 = new CanvasJS.Chart("averagecost", {
    animationEnabled: true,
    theme: "light2", // "light1", "light2", "dark1", "dark2"
    title:{
        text: "Average Cost for 2"
    },
    axisY: {
        title: "INR"
    },
    data: [{
        type: "column",
        dataPoints: [
{ y: 683.33, label: "Agra Cantt" },
{ y: 700, label: "Civil Lines" },
{ y: 2000, label: "Courtyard By Marriott Agra" },
{ y: 2500, label: "ITC Mughal,Tajganj" },
{ y: 800, label: "Khandari" },
{ y: 1800, label: "Radisson Blu,Tajganj" },
{ y: 550, label: "Rakabganj" },
{ y: 737.5, label: "Tajganj" },
]
    }]
});


chart1.render()
chart2.render()
chart3.render()
chart4.render()
chart5.render()
chart6.render()
chart7.render()
chart8.render();
}
</script>


</head>

<!-- NAVBAR -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href={% url 'core:index' %}>Home</a></li>
    <li class="breadcrumb-item"><a href={% url 'core:agra' %}>Agra</a></li>
    <li class="breadcrumb-item active" aria-current="page">Food</li>
  </ol>
</nav>

<body>

        <div class="container">
                <div  class="graph-heading">
                        <h3 style="margin-bottom:0;" class="text-underline-primary mb-5 text-center display-3">AGRA FOOD ANALYSIS</h3>
                        <hr style="width:30%; margin-top:2px; height:40px; border-top: 4px double #8c8b8b;
                        text-align: center;">
                    </div>
        

<div class="container">
  <!-- Main graph -->
  <!-- <div id="MainGraph" style="height: 370px; width: 70%;"></div> -->


  <!-- Average Cost for 2 -->
  <div id="averagecost" style="height: 370px; width: 100%;"></div>
  <h4  class=" write-ups mb-5 ">The graph showing cost for food for 2 person in different locality, Rakabganjh is found to be comparatively cheapest with affordable restaurants and ITC Mughal,Tajganj to be expensive with expensive restaurants.</h4>

 

  <!-- North Indian -->
  <div id="north" style="height: 300px; width: 100%; margin-bottom:60px;"></div>

  <!-- Chinese -->
  <div id="chinese" style="height: 300px; width: 100%; margin-bottom:60px;"></div>

  <!-- Continental -->
  <div id="continental" style="height: 300px; width: 100%; margin-bottom:60px;"></div>

  <!-- Italian -->
  <div id="italian" style="height: 300px; width: 100%; margin-bottom:60px;"></div>

  <!-- Mughlai -->
  <div id="mughlai" style="height: 300px; width: 100%; margin-bottom:60px;"></div>

  <!-- Cafe -->
  <div id="cafe" style="height: 300px; width: 100%; margin-bottom:60px;"></div>

  <!-- Rajasthani -->
  <div id="rajasthani" style="height: 300px; width: 100%; margin-bottom:60px;"></div>

  


</div>



<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>
