<!DOCTYPE HTML>
{% load staticfiles %}

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
            .write-ups{
                transform: scale(1.05);
                color: white;
                background-color: rgba(7, 7, 59, 0.897);
                transition: 0.5s ease-in;
                box-shadow:2px 8px 3px black;
                width:70%; 
                border:1px solid rgb(29, 26, 26);
                padding:10px;
                transition: 0.3s linear;
                justify-content: center;
                margin-left: 150px;
                margin-bottom:60px;
                cursor: crosshair; 
            }
            .write-ups:hover{
                transform: scale(1.09);
                transition-delay: 0.2s;
               
                box-shadow: 2px 10px 7px black;
    
            }
        </style>
<script>

/*Market Analysis Main graph function*/
window.onload = function () {

var chart1 = new CanvasJS.Chart("MainGraph", {
    animationEnabled: true,

    title:{
        // text:"Agra Market Analysis"
    },
    axisX:{
        interval: 1
    },
    axisY2:{
        interlacedColor: "rgba(1,77,101,.2)",
        gridColor: "rgba(1,77,101,.1)",
        title: "Ratings out of 5"
    },
    data: [{
        type: "bar",
        name: "companies",
        axisYType: "secondary",
        color: "#014D65",
        dataPoints: [
{ y: 4.0, label: "Agra Art Gallery" },
{ y: 4.0, label: "Shahin Arts" },
{ y: 3.5, label: "Sadar Bazaar" },
{ y: 4.0, label: "Kinari Bazaar" },
{ y: 5.0, label: "Shilpgram" },
{ y: 3.7, label: "Saket Mall" },
{ y: 4.6, label: "The Warehouse of Gifts and Souvenirs" },
{ y: 3.4, label: "Kashmiri Bazar" },
{ y: 4.5 , label: "Marble Handicrafts" },
{ y: 4.7, label: "kailash Plaza" },
{ y: 3.8, label: "Gems and Arts Gallery" },
{ y: 4.0, label: "Mughal Carpet" },
{ y: 4.0, label: "Big Bazaar Ratan Mall" },
{ y: 4.1, label: "Subhash Emporium" }
]
    }]
});

/*Clothing graph function*/
var chart2 = new CanvasJS.Chart("clothing", {
    animationEnabled: true,
    theme: "light2",
    title:{
        text: "Clothing"
    },
    axisY:{
        title: "Ratings",
        includeZero: false
    },
    axisX:{
        title: "Market Name"
    },
    data: [{
        type: "line",
        color: "#B0C4DE",
        dataPoints: [
{ y: 4.0, label: "Big Bazaar Ratan Mall" },
{ y: 4.7, label: "kailash Plaza" },
{ y: 3.7, label: "Saket Mall" },
{ y: 4.0, label: "Kinari Bazaar" },
{ y: 3.5, label: "Sadar Bazaar" }
]
    }]
});
/*handicraft graph function*/
var chart3 = new CanvasJS.Chart("handicraft", {
    animationEnabled: true,
    theme: "light2",
    title:{
        text: "Handicrafts"
    },
    axisY:{
        title: "Ratings",
        includeZero: false
    },
    axisX:{
        title: "Venue"
    },
    data: [{
        type: "line",
        color: "#008080",
        dataPoints: [
{ y: 4.0, label: "Mughal Carpet" },
{ y: 4.7, label: "Kailash Plaza" },
{ y: 3.4, label: "Kashmiri Bazar" },
{ y: 5.0, label: "Shilpgram" },
{ y: 4.0, label: "Shahin Arts" }
]
    }]
});

/*Household Shops function*/

var chart4 = new CanvasJS.Chart("household", {
    animationEnabled: true,
    theme: "light2",
    title:{
        text: "Household Shops"
    },
    axisY:{
        title: "Ratings",
        includeZero: false
    },
    axisX:{
        title: "Venue"
    },
    data: [{
        type: "line",
        color: "#000000",
        dataPoints: [
{ y: 4.0, label: "Big Bazar Ratan Mall" },
{ y: 4.0, label: "Mughal Carpet" },
{ y: 4.7, label: "kailash Plaza" },
{ y: 4.6, label: "The Warehouse of Gifts and Souvenirs" },
{ y: 3.7, label: "Saket Mall" }
]
    }]
});

/*agra special graph function*/



var chart5 = new CanvasJS.Chart("special", {
    animationEnabled: true,
    theme: "light2",
    title:{
       
    },
    axisY:{
        title: "Ratings",
        includeZero: false
    },
    axisX:{
        title: "Venue"
    },
    data: [{
        type: "line",
        color: "#FF4500",
        dataPoints: [
{ y: 4.0, label: "Mughal Carpet" },
{ y: 3.8, label: "Gems and Arts Gallery" },
{ y: 4.5 , label: "Marble Handicrafts" },
{ y: 3.4, label: "Kashmiri Bazar" },
{ y: 5.0, label: "Shilpgram" },
{ y: 4.0, label: "Shahin Arts" },
{ y: 4.0, label: "Agra Art Gallery" }
]
      }]
    });


/*Showpieces function*/

var chart6 = new CanvasJS.Chart("showpiece", {
    animationEnabled: true,
    theme: "light2",
    title:{
        text: "Showpieces"
    },
    axisY:{
        title: "Ratings",
        includeZero: false
    },
    axisX:{
        title: "Venue"
    },
    data: [{
        type: "line",
        color: "#8B4513",
        dataPoints: [
{ y: 4.1, label: "Subhash Emporium" },
{ y: 4.0, label: "Big Bazaar Ratan Mall" },
{ y: 4.0, label: "Mughal Carpet" },
{ y: 3.8, label: "Gems and Arts Gallery" },
{ y: 4.7, label: "kailash Plaza" },
{ y: 4.5 , label: "Marble Handicrafts" },
{ y: 4.6, label: "The Warehouse of Gifts and Souvenirs"},
{ y: 4.0, label: "Agra Art Gallery" }
]
    }]
});



chart1.render()
chart2.render()
chart3.render()
chart4.render()
chart5.render()
chart6.render();
}
</script>


</head>

<!-- NAVBAR -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href={% url 'core:index' %}>Home</a></li>
    <li class="breadcrumb-item"><a href={% url 'core:agra' %}>Agra</a></li>
    <li class="breadcrumb-item active" aria-current="page">Market</li>
  </ol>
</nav>
<div class="container">
        <div  class="graph-heading">
                <h2 style="margin-bottom:10PX;" class="text-underline-primary mb-5 text-center display-2">AGRA MARKET ANALYSIS</h2>
                <hr style="width:30%; margin-top:2px; height:40px; border-top: 4px double #8c8b8b;
                text-align: center;">
            </div>

<body>
<div class="container">
  <!-- Main graph -->
  <div id="MainGraph" style="height: 370px; width: 100%;"></div>
  

  <!-- clothing graph -->
  <div id="clothing" style="height: 370px; width: 100%; margin-top: 50px;"></div>
  <h4  class=" write-ups mb-5 ">If you like to shop clothes Agra gives a number of options. Most famous is Kailash Plaza which is having all the famous brand shops .</h4>


  <!-- Handicrafts graph -->
  <div id="handicraft" style="height: 370px; width: 100%;"></div>
  <h4  class=" write-ups mb-5 ">If you love handicrafts then Agra is one of the best place to visit. Handicraft market called "Shilpgram" is best to visit in Agra for  Handicraft.</h4>


  <!-- Household Shops graph -->
  <div id="household" style="height: 370px; width: 100%;"></div>
  <h4  class=" write-ups mb-5 ">Household  shopping is a must, and if it is from a historical city who won't be pleased to do it. For Household shopping Kailash Plaza is the best.</h4>


  <!-- Agra Special graph -->
  <div id="special" style="height: 370px; width: 100%;"></div>
  <h4  class=" write-ups mb-5 ">If you love handicrafts then Agra is one of the best Agra place to visit. Handicraft market called "Shilpgram" is best to visit in Agra for  Handicraft.
        A historical city of India, which witnessed various changing courses of history must be having it's own speciality, and if it's goods who won't want to buy 
        it.FOr Agra Special market called "Shilpgram" is best.</h4>


  <!-- Showpieces graph -->
  <div id="showpiece" style="height: 370px; width: 100%;"></div>
  <h4  class=" write-ups mb-5 ">If you love showpieces then Agra has various shops. Most famous is Kailash Plaza.</h4>

</div>


<!-- Table -->
<!-- <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Market Name</th>
      <th scope="col">Ratings</th>
      <th scope="col">Address</th>
      <th scope="col">Famous For</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Market building</td>
      <td>4.3</td>
      <td>Bhubaneshwar Marg, Unit-2, Ashok Nagar</td>
      <td>Fashion wears, Accessories, Footwear</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Reliance Trends</td>
      <td>4.3</td>
      <td>First Floor,Khata No.444, Kharabela Nagar</td>
      <td>Fashion wears, Accessories, Footwear</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Esplanade</td>
      <td>4.6</td>
      <td>Puri-Cuttak Rd, Rasulgarh Industrial Estate</td>
      <td>Fashion wears, Accessories, Footwear, Food</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>BMC Keshari</td>
      <td>4.2</td>
      <td>2nd St, Unit-2, Ashok Nagar</td>
      <td>Fashion wears, Accessories, Footwear</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Big Bazar</td>
      <td>4.3</td>
      <td>Forum Mart, 89, Unit 3, Kharabela Nagar</td>
      <td>Fashion wears, Accessories, Footwear, Food</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Saree Mandir</td>
      <td>3.9</td>
      <td>Master Canteen Area, Kharabela Nagar, Bhubaneswar</td>
      <td>Sarees</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Pal Heights</td>
      <td>4.2</td>
      <td>Nandankanan Rd, j-7,Jayadev Vihar</td>
      <td>Fashion wears, Accessories, Footwear, Food</td>
    </tr>

  </tbody>
</table> -->
<!-- End table -->


<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>
