<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <script src="js/main.js" > </script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <title>Analyze, Plan and Travel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>

{% include 'core/navbar.html' %}

<section class="intro carousel slide bg-overlay-light h-auto" id="carouselExampleCaptions">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1" class=""></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
                <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                        <source src="https://bufiles.blob.core.windows.net/co3615/video/explore.webm"src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
                      </video>
            <div class="carousel-caption ">
                  <h2 class="display-4 text-white mb-2 mt-4"> B H U B A N E S W A R</h2>
                <h3 class="text-white display-5 pt-3 pb-3 mb-3 px-5 lead mt-2 "> ANALYZE   PLAN   AND    TRAVEL </h3>
                <a href={% url 'core:bbsr' %} class="btn btn-primary btn-capsul px-4 py-2">Explore More</a>
            </div>
          </div>
          <div class="carousel-item">
                <img style="width:100%;" class="pt-3" src="https://images.unsplash.com/photo-1455620611406-966ca6889d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1130&q=80">
            <div class="carousel-caption ">
                  <h2 class="display-4 text-white mb-2 mt-4">A  G  R  A</h2>
                <h3 class="text-white display-6 mb-3 pt-3 pb-3 px-5 lead"> ANALYZE   PLAN   AND    TRAVEL  </h3>
                <a href={% url 'core:agra' %} class="btn btn-primary btn-capsul px-4 py-2">Explore More</a>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </section>




    <section class="team-section py-5" id="team-section">
        <div class="container">
            <div class="row mb-5">
                <div class="head-box text-center mb-5 col-md-12">
                    <h2 class="display-3">Meet Our Team</h2>
                    <h6 class="text-underline-primary mb-5">This is information panel</h6>
                </div>
                <div class="col-md-3 mb-md-0 mb-sm-4">
                    <div class="member-box anim-lf t-bottom">
                        <img class="img-fluid" src="https://scontent.fpat1-1.fna.fbcdn.net/v/t1.0-9/47249488_1995122173914035_5536532471715201024_n.jpg?_nc_cat=106&_nc_ht=scontent.fpat1-1.fna&oh=6e3ff1c60f79a34a00bf2dd36a969cb0&oe=5CD995E8" alt="">
                        <div class="overlay-content">
                          <h3 class="text-white ml-3 my-0">Anirudh Kumar</h3>
                          <p class="text-white ml-3 mb-3">Data Analyst</p>
                          <span class="socail-l ml-3 mb-3">
                            <a href="#" class="mr-2"><i class="fab fa-facebook box-circle-solid"></i></a>
                            <a href="#" class="mr-2"><i class="fab fa-twitter box-circle-solid"></i></a>
                            <a href="#"><i class="fab fa-github box-circle-solid"></i></a>
                          </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-md-0 mb-sm-4">
                    <div class="member-box anim-lf t-bottom">
                        <img class="img-fluid" src="https://scontent.fpat1-1.fna.fbcdn.net/v/t1.0-9/46485348_2162889603932715_5772892849955667968_n.jpg?_nc_cat=105&_nc_ht=scontent.fpat1-1.fna&oh=17737e240d59b0729b6515fb36f37fb7&oe=5C988003" alt="">
                        <div class="overlay-content">
                          <h3 class="text-white ml-3 my-0">Ankita Priya</h3>
                          <p class="text-white ml-3 mb-3">Data Analyst</p>
                          <span class="socail-l ml-3 mb-3">
                            <a href="#" class="mr-2"><i class="fab fa-facebook box-circle-solid"></i></a>
                            <a href="#" class="mr-2"><i class="fab fa-twitter box-circle-solid"></i></a>
                            <a href="#"><i class="fab fa-github box-circle-solid"></i></a>
                          </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-md-0 mb-sm-4">
                    <div class="member-box anim-lf t-bottom">
                        <img class="img-fluid" src="https://scontent.fpat1-1.fna.fbcdn.net/v/t1.0-9/19430177_1706595122687503_3861713743195020908_n.jpg?_nc_cat=104&_nc_ht=scontent.fpat1-1.fna&oh=173e5800abc17c8ee0498e3446d29aa6&oe=5C9F594F" alt="">
                        <div class="overlay-content">
                          <h3 class="text-white ml-3 my-0">Srijan Saurav</h3>
                          <p class="text-white ml-3 mb-3">Back-end</p>
                          <span class="socail-l ml-3 mb-3">
                            <a href="#" class="mr-2"><i class="fab fa-facebook box-circle-solid"></i></a>
                            <a href="#" class="mr-2"><i class="fab fa-twitter box-circle-solid"></i></a>
                            <a href="#"><i class="fab fa-github box-circle-solid"></i></a>
                          </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mb-md-0 mb-sm-4 ">
                        <div class="member-box anim-lf t-bottom">
                            <img class="img-fluid" src="https://scontent.fpat1-1.fna.fbcdn.net/v/t1.0-9/28575660_2065303193749264_5598654279333930510_n.jpg?_nc_cat=111&_nc_ht=scontent.fpat1-1.fna&oh=1ae66158557b01a95b73e3bc0fe386f7&oe=5C9AA9D6" alt="">
                            <div class="overlay-content">
                              <h3 class="text-white ml-3 my-0">Kishan Kumar</h3>
                              <p class="text-white ml-3 mb-3">Front-End</p>
                              <span class="socail-l ml-3 mb-3">
                                <a href="#" class="mr-1"><i class="fab fa-facebook  box-circle-solid"></i></a>
                                <a href="#" class="mr-2"><i class="fab fa-twitter box-circle-solid"></i></a>
                                <a href="#"><i class="fab fa-github box-circle-solid"></i></a>
                              </span>
                            </div>
                        </div>
                    </div>


            </div>
        </div>
    </section>




    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
