html,body{
    padding:0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;


}
#carousel{
    width: 100%;
	height: 100%;
	background-attachment: fixed;
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: .5rem;
}



/* ========== Universal Stylings ========== */
 h1,h2,h3,h4,h5{
	position: relative;
	font-family: 'Montserrat', sans-serif;
}
h6{
	position: relative;
	text-transform: uppercase;
}
 .bg-primary{
    background-color: #35CBDF;
    background-attachment: fixed;

}
.text-inverse{
	color: #074052;
}
#info .text-primary{
	color: #35CBDF;
}
#info .btn{
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	font-weight: 600;

}
#info .btn-primary{
	background-color: rgb(53, 203, 223);
	border-color: rgb(57, 206, 226);
	text-shadow: 1px 1px 2px rgba(0,0,0,0.4)
}
#info .btn-primary:hover,.btn-primary:focus{
	background-color: #333;
    border-color: rgb(53, 203, 223);
    transform: scale(1.1);
    transition: 0.5s ease-out;
    text-shadow: #35CBDF;
}
.btn-capsul{
	border-radius: 40px;
}
i.box-circle-outline{
	border-color: inherit;
	border-width: 1px;
	border-style:solid;
	border-radius: 50%;
	height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}
i.box-circle-solid{
	background-color:#35CBDF;
	border-radius: 50%;
    color: black;
    font-size: 22px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    width: 55px;
}
.text-underline-white:before{
	content:"";
	position: absolute;
	width:100px;
	height: 4px;
	left:50%;
	margin-left:-50px;
	background:#fff;
	bottom: -15px;
	border-radius: 10px;
}
.text-underline-rb-white:before{
	content:"";
	position: absolute;
	width:100px;
	height: 4px;
	left:0;
	background:#fff;
	bottom: -15px;
	border-radius: 10px;
}
.text-underline-primary:before{
	content:"";
	position: absolute;
	width:50px;
	height: 4px;
	left:50%;
	margin-left:-25px;
	background:#35CBDF;
	bottom: -15px;
	border-radius: 10px;
}
.text-underline-rb-primary:before{
	content:"";
	position: absolute;
	width:100px;
	height: 4px;
	left:0;
	background:#35CBDF;
	bottom: -15px;
	border-radius: 10px;
}
.bg-overlay:before{
	content:"";
	background:rgba(0,0,0,0.7);
	position: absolute;
	height: 100%;
	width:100%;
	left:0;
	top:0;
    z-index: -1;
    background-attachment: fixed;
}
.bg-overlay-light:before{
	content:"";
	background:rgba(0,0,0,0.4);
	position: absolute;
	height: 100%;
	width:100%;
	left:0;
	top:0;
    z-index: -1;
    background-attachment: fixed;
}
.parallax{
	background-attachment: fixed!important;
}
















.hero-heading a{
    text-decoration: none;
}

a:visited {
    color: #473d3d !important;
    transition: color 0.5s;
    /* Safari */

    transition: color 0.5s;
    text-decoration: none;
}
a:hover,
a:focus {

    color: #323335;
    transition: color 0.5s;
    text-decoration: none;

}
.hero {


    background-color: aqua;
    padding: 5px 30px 31px;
	background-attachment: fixed;
	height: 120vh;
	width: 100%;


}

.hero .navbar, #search{
    margin-bottom:30px;
}

.hero .navbar .navbar-nav .nav-item .nav-link {
    text-decoration: none;
	color: #074052;
    padding: 0 20px;
}

.hero .hero-heading {
    margin-bottom: 50px;
    max-width: 1100px;
}

/* .hero .hero-heading h1 {
    font-size: 60px;
} */

.hero .mgmt-links-wrapper .link-box {
    background: #323335;
    padding: 34px 10px;
    text-align: center;
    min-height: 150px;
    margin-bottom: 10px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

.hero .mgmt-links-wrapper a {
	color: #074052!important;
}

.hero .mgmt-links-wrapper .link-box:hover {
    background: #3190dc;
    -webkit-box-shadow: 0px 5px 8px 0px rgb(79, 91, 97);
    -moz-box-shadow: 0px 5px 8px 0px rgb(79, 91, 97);
    box-shadow: 0px 5px 8px 0px rgb(79, 91, 97);
}

.hero .mgmt-links-wrapper .link-box i {
    font-size: 40px;
    margin-bottom: 12px;
}

.hero .mgmt-links-wrapper .link-box p {
    font-size: 20px;
    margin-bottom: 0;
}
.navbar-toggler {
	background-color:black;
	color: #323335;
    border: 1px solid #074052;
}
/* .hero .search-from{
	height: 85px;
    font-size: 35px;
} */
.navbar-brand{
	color: #333;
}



@media (max-width: 767px) {
	.hero{
		padding:20px 20px 40px
	}
	.hero .hero-heading h1{
		font-size:30px;
	}
}



/* /*  OVERLAY
========================================== */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 7;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #603e82;
	opacity: 0;
	visibility: hidden;
}
.overlay.show {
	opacity: 0.8;
	visibility: visible;
}



/* POP UP */
#info .button {

    margin-left: px;
    color: #fff;
    border: 2px solid #FF9800;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
   }
   #info .button:hover {
    background: #06D85F;
   }

   #info .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
   }
   #info .overlay:target {
    visibility: visible;
    opacity: 1;
   }

   #info .popup {
    margin: 70px auto;
    padding: 20px;
    background:#fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
   }

   #info .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
   }
   #info .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(29, 9, 9);
   }
   #info .popup .close:hover {
    color: #06D85F;
   }
   #info .popup .content {
    max-height: 30%;
    overflow: auto;
   }






   @media screen and (max-width: 700px){
    #info .box{
    width: 70%;
    }
    #info .popup{
    width: 70%;
    }
   }


/* ========== Who We Are ========== */

.info-section{
	float: right;
	width:100%;
	padding:5rem 0;
	position: relative;
	z-index: 1;
}
.info-section h2{
	font-weight: 700;
	font-size: 2.5rem;
}

.info-section .head-sec{
	float: left;
	width:100%;
}

.info-section h3{
	font-size: 1.4rem;
}
.info-section p {
    font-size: 1rem;
    line-height: 1.3rem;
}
.info-section .box h2{
    font-size:24px;
    margin-bottom:20px;
    margin-top:0;
}

.info-section .box i{
    font-size:20px;
}
.info-section .box{
    display:flex;
}
.info-section .text-box{
    flex:1 1 0;
    text-align:left;
}
#info .info-section .icon-box{
    line-height: 1.2;
    width:70px;
}
.info-section .service-block-overlay{
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
}
.info-section .service-block-overlay:hover{
	background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 0 90px rgba(0, 0, 0, 0.1);
    float: left;
    margin-top: -10px;
    position: relative;
    width: 100%;
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
}
.content-half{
    color:#fff;
}
.content-half ul{
    padding:0;
    list-style:none;
}
.content-half ul li{
    margin:15px 0;
    float:left;
    width:100%;
}
.content-half ul li i{
    float:left;
    font-size:30px;
    padding-top:10px;
    padding-bottom:10px;
}
.content-half ul li .list-content{
    float:left;
    margin-left:20px;
}
.content-half ul li strong{
    font-size:19px;
    font-weight:700;
}
.content-half .btn{
    margin-top:20px;
}
/*--- three Block Panel ---*/
.three-panel-block{
	float: left;
	width: 100%;
}
.three-panel-block i{
	font-size: 1.5rem;
	margin-bottom: 15px;
}
#info .three-panel-block i.box-round{
	border-color: inherit;
	border-width: 1px;
	border-style:solid;
	padding:16px;
	border-radius: 50%;
}

/*--- Two Block Panel ---*/
.two-panel-block{
	float: left;
	width: 100%;
}
.two-panel-block p{
	font-size:16px;
}


/*--- Two Block Panel ---*/
.four-panel-block{
	float: left;
	width:100%;
}

/* ========== Who We Are ========== */
.widget{
	float: left;
	width:100%;
	position: relative;
	z-index: 1;
}

/* ========== Copy Content Styles ========== */
.copy-content-sec{
	float: left;
	width:100%;
	padding:5rem 0;
	position: relative;
	z-index: 1;
}
.copy-container{
	display: flex;
	align-items: center;
}
.copy-content{
	float: left;
	width:100%;
}
.copy-content li i{
	float: left;
	width:30px;
	margin-top:5px;
	color: #5CB85C;
}


 /* our-attraction */

#our-attraction{
	width: 100%;
	background-color: #06D85F;
}
 .btn-outline-primary {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	font-weight: 600;
	justify-content: end;

}  .btn-outline-primary {
	background-color: rgb(53, 203, 223);
	border-color: rgb(57, 206, 226);
	text-shadow: 1px 1px 2px rgba(0,0,0,0.4)
}
.btn-outline-primary :hover,.btn-outline-primary :focus{
	background-color: #333;
    border-color: rgb(53, 203, 223);
    transform: scale(1.1);
    transition: 0.5s ease-out;
    text-shadow: #35CBDF;
}
.btn-capsul{
	border-radius: 40px;
}



 .our-team-main
{
	width:100%;
	height:auto;
	border-bottom:5px #323233 solid;
	background:#fff;
	text-align:center;
	border-radius:10px;
	overflow:hidden;
	position:relative;
	transition:0.5s;
	margin-bottom:28px;
}


.our-team-main img
{
	border-radius:50%;
	margin-bottom:20px;
	width: 90px;
}

.our-team-main h3
{
	font-size:20px;
	font-weight:700;
}

.our-team-main p
{
	margin-bottom:0;
}

.team-back
{
	width:100%;
	height:auto;
	position:absolute;
	top:0;
	left:0;
	padding:5px 15px 0 15px;
	text-align:left;
	background:#fff;

}

.team-front
{
	width:100%;
	height:auto;
	position:relative;
	z-index:10;
	background:#fff;
	padding:15px;
	bottom:0px;
	transition: all 0.5s ease;
}

.our-team-main:hover .team-front
{
	bottom:-200px;
	transition: all 0.5s ease;
}

.our-team-main:hover
{
	border-color:#777;
	transition:0.5s;
}

/*our-team-main*/

