<!DOCTYPE HTML>
{% load staticfiles %}

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <style>
            .write-ups{
                transform: scale(1.05);
                color: white;
                background-color: rgba(7, 7, 59, 0.897);
                transition: 0.5s ease-in;
                box-shadow:2px 8px 3px black;
                width:70%; 
                border:1px solid rgb(29, 26, 26);
                padding:10px;
                transition: 0.3s linear;
                justify-content: center;
                margin-left: 150px;
                margin-bottom:70px;
                cursor: crosshair; 
            }
            .write-ups:hover{
                transform: scale(1.09);
                transition-delay: 0.2s;
               
                box-shadow: 2px 10px 7px black;
    
            }
        </style>
    

<script>
window.onload = function () {

/*Museum and Important buildings function*/
var chart1 = new CanvasJS.Chart("museum", {
    animationEnabled: true,
    theme: "light2",
    title:{
        text: "Museums and other Places"
    },
    axisY:{
        title: "Ratings",
        includeZero: false
    },
    axisX:{
        title: "Venue"
    },
    data: [{
        type: "line",
        color: "#6B8E23",
        dataPoints: [
{ y: 4.6, label: "Museum Of Tribal Arts And Artifacts" },
{ y: 4.5, label: "Dhauli Shanti Stupa" },
{ y: 4.1, label: "CIFA Aquarium" },
{ y: 4.3, label: "Regional Science Center" },
{ y: 4.3, label: "Pathani Samantha Planetarium" }
]
    }]
});
/*park graph function*/
var chart2 = new CanvasJS.Chart("park", {
    animationEnabled: true,
    theme: "light2",
    title:{
        text: "Parks"
    },
    axisY:{
        title: "Ratings",
        includeZero: false
    },
    axisX:{
        title: "Venue"
    },
    data: [{
        type: "line",
        color: "#008B8B",
        dataPoints: [
{ y: 4.4, label: "Nandankanan Zoological Park" },
{ y: 4.0, label: "Dhauli Giri Hills" },
{ y: 4.3, label: "Chilika Lake" },
{ y: 4.5, label: "Buddha Jayanti Park" },
{ y: 4.1, label: "CIFA Aquarium" },
{ y: 4.3, label: "Ekamra Kanan" },
{ y: 4.3, label: "Biju Patnaik Park" }
]
    }]
});

/*temples graph function*/

var chart3 = new CanvasJS.Chart("temple", {
    animationEnabled: true,
    theme: "light2",
    title:{
        text: "Temples"
    },
    axisY:{
        title: "Ratings",
        includeZero: false
    },
    axisX:{
        title: "Temples"
    },
    data: [{
        type: "line",
        color: "#407C8A",
        dataPoints: [
{ y: 4.5, label: "Sisireswar" },
{ y: 4.5, label: "Papanasini Tank" },
{ y: 5.0, label: "Siddheshwar" },
{ y: 4.5, label: "Parsurameswar" },
{ y: 5.0, label: "Makandeswar" },
{ y: 4.6, label: "Mukteswara" },
{ y: 4.5, label: "Lingraj" },
{ y: 4.6, label: "Yameswar" },
{ y: 4.3, label: "Chitrakarini" },
{ y: 4.4, label: "Vaital Deul" },
{ y: 4.7, label: "Bakreswar" },
{ y: 4.4, label: "Anantavasudev" },
{ y: 4.6, label: "Bhaskareswar" },
{ y: 4.6, label: "Sun" }
]
    }]
});

/*photograpgy graph function*/

var chart4 = new CanvasJS.Chart("photography", {
    animationEnabled: true,
    theme: "light2",
    title:{
        text: "Places For Photography"
    },
    axisY:{
        title: "Ratings",
        includeZero: false
    },
    axisX:{
        title: "Venue"
    },
    data: [{
        type: "line",
        color: "#FF1493",
        dataPoints: [
{ y: 4.6, label: "Sun Temple" },
{ y: 4.4, label: "NandanKanan Zoological Park" },
{ y: 4.0, label: "Dhauli Giri Hills" },
{ y: 4.3, label: "Chilika Hills" },
{ y: 4.3, label: "Udaigiri Pilgrimage" }
]
      }]
    });

chart1.render()
chart2.render()
chart3.render()
chart4.render();
}
</script>


</head>

<!-- NAVBAR -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href={% url 'core:index' %}>Home</a></li>
    <li class="breadcrumb-item"><a href={% url 'core:bbsr' %}>Bhubaneshwar</a></li>
    <li class="breadcrumb-item active" aria-current="page">Food</li>
  </ol>
</nav>

<body>
        <div class="container">
                <div style="margin-top: 40px;" class="graph-heading">
                        <h3 style="margin-bottom:0;" class="text-underline-primary mb-5 text-center display-3"> Bhubaneshwar Place Analysis</h3>
                        <hr style="width:30%; margin-top:2px; height:40px; border-top: 4px double #8c8b8b;
                        text-align: center;">
                    </div>

<div class="container">
  <!-- Museum and Important buildings -->
  <div id="museum" style="height: 300px; width: 100%; "></div>
        <h4  class=" write-ups mb-5 ">If you are too curious to know about tribes and their culture then bbsr has one of the best museums of tribal arts and artifacts wih highest rating in nayapalli while Dhauli Shanti Stupa and Regional Science Centre stands second on tourist list.</h4>
  <!-- Park -->
  <div id="park" style="height: 300px; width: 100%; "></div>
    <h4  class=" write-ups mb-5 ">For nature lovers Nandankanan Zoological Park is the best place to visit as it gives many option like zoo,zoological park and even boating.While Trekking lovers can visit Dhaula Giri Hills .In natural tourist place Chilika lake has also benn voed for its beauty and lake view.</h4>
  <!-- Temples -->
  <div id="temple" style="height: 300px; width: 100%; "></div>
    <h4  class=" write-ups mb-5 ">In the city of temples you would find hundreds of temple and some of the most visited and loved temples are as follows. Among them Siddeshwar and Makandeswar temple are the most loved temples of the city while Lingraja is also famous for Lord Shiva and see thousands of people travelling to worship Shiva.</h4>
  <!-- Photography -->
  <div id="photography" style="height: 300px; width: 100%; "></div>
    <h4  class=" write-ups mb-5 ">Photographers travelling to this city generally come here to take nature clicks .Sun temple is the most beautiful place for photography as rated by people following Nandankanan and chilika that gives a natural ambience for a perfect click.</h4></div>



<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>
